body {
    margin: 20px;
    color: #100D6F
}

.jumbotron {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin: 10px;
    padding: 8px;
    background-color:rgb(242, 234, 231);
    color: #100D6F;
    border-radius: 3px;
}

h1 {
    margin: 20px;
}


main {
    border: 20px;
}

img {
    border: sienna;
    border-width: 3px;
    border-radius: 9px;
    max-width: 100%;
    height: auto
}

.pictureButtons {
    padding: 3px;
}

.pictureStuff{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: 500;
}

.alert{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}