body {
    margin: 20px;
}

h1 {
    margin: 20px;
}


main {
    border: 20px;
}

img {
    border: sienna;
    border-width: 3px;
    border-radius: 15px;
    max-width: 100%;
    height: auto
}

.pictureStuff {
    padding: 4px;
}